@model Banco.EF.Item_pedido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item_pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor_Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor_Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pedidido_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pedidido_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
